* {
  margin: 0px;
}
body {
  font-family: Avenir-Next, Roboto, sans-serif;
  margin: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  margin: 10px;
  height: 30px;
  width: 100px;
}
nav div img {
  height: 15px;
  margin-top: 15px;
}
.nav-flex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  color: #8a8a8a;
  margin: auto;
}
nav select {
  border: none;
  color: #8a8a8a;
}
nav button {
  margin: auto;
  background-color: orange;
  border: none;
  color: white;
  padding: 5px 30px;
}
.homepage {
  background-image: url("./background_img.jpeg");
  background-size: cover;
}
.homepage h3 {
  font-size: 90px;
  color: white;
}
.homepage h4 {
  font-size: 33px;
  color: white;
  margin: 20px;
}
.homepage button {
  display: block;
  margin: 10px;
  padding: 10px 30px;
}
.apply_button {
  background-color: #4992ca;
  border: none;
  color: white;
}
.overlay {
  background-color: #000000b3;
  padding: 50px 100px;
}
.schedule {
  background-color: transparent;
  color: white;
  border: solid white;
}
.learnmore {
  border-radius: 15px;
  border: none;
}
.monsters {
  background-color: #4992ca;
  text-align: center;
  padding: 30px 100px;
  color: white;
}
.monsters-flex {
  display: flex;
}
.monsters h2 {
  margin-bottom: 20px;
  font-size: 45px;
}
.monsters p {
  margin: 20px;
  line-height: 20px;
}
.monsters i {
  margin: 20px;
}
.monsters h4 {
  margin-bottom: 20px;
  font-size: 30px;
}
.statics-flex {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .statics-flex {
    flex-wrap: wrap;
  }
}
.statics {
  text-align: center;
  padding: 30px 100px;
}
.statics h4 {
  margin-bottom: 20px;
  font-size: 30px;
}
.statics h2 {
  font-size: 45px;
}
.statics img {
  margin-top: 20px;
}
.pokemon-year {
  padding: 30px 100px;
}
.pokemon-year-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}
.pokemon-year img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 30%;
  padding: 0px;
}
.pokemon-year h6 {
  max-width: 700px;
  font-size: 18px;
  font-weight: 100;
  color: grey;
}
.pokemon-year h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
}
.pokemon-year h4 {
  font-size: 30px;
  font-weight: 100;
  color: grey;
}
.Q-A {
  background-color: #4992ca;
  padding: 30px 100px;
  color: white;
}
.Q-A h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 30px;
}
.Q-A h4 {
  font-size: 30px;
  margin-bottom: 20px;
}
.Q-A ol li {
  line-height: 20px;
  margin-bottom: 10px;
}
.Pokemon-Battle-flex {
  display: flex;
  gap: 20px;
  text-align: left;
  flex-wrap: wrap;
}
.Pokemon-Battle {
  text-align: center;
  padding: 30px 100px;
}
.Pokemon-Battle h2 {
  font-size: 45px;
  margin-bottom: 30px;
}
.Pokemon-Battle h4 {
  font-size: 20px;
  margin-bottom: 30px;
}
.Pokemon-Battle p {
  margin: 20px 0px;
}
.Pokemon-Battle-flex-div1 {
  max-width: 350px;
}
.Pokemon-Battle-flex table {
  border: 1px solid #8a8a8a;
  border-collapse: collapse;
}

table td {
  padding: 2px 5px;
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
  line-height: 30px;
}
table th {
  padding: 2px 5px;
  border: 1px solid #8a8a8a;
  line-height: 30px;
}
.Pokemon-Battle-flex-div1 p {
  color: #8a8a8a;
}
.Pokemon-Battle-flex-div2 p {
  max-width: 800px;
}
.Pokemon-Battle-h4 {
  color: #4992ca;
}
.Pokemon-Battle button,
.pokemon-games button {
  background-color: #4992ca;
  color: white;
  border: none;
  padding: 10px 50px;
}
.Pokemon-info {
  background-color: gray;
  padding: 30px 100px;
  text-align: center;
  color: white;
}
.Pokemon-info h4 {
  font-size: 45px;
  margin-bottom: 30px;
}
.Pokemon-info button,
.pokemon-section button {
  background-color: transparent;
  padding: 5px 50px;
  border: 2px solid white;
  color: white;
  height: 35px;
}
.Pokemon-card {
  text-align: center;
  padding: 30px 0px;
}
.Pokemon-card div {
  max-width: 200px;
  margin: auto;
  border-top: 20px solid #4992ca;
  padding: 10px;
  background-color: #ffffff00;
}
.Pokemon-card h2 {
  font-size: 45px;
  color: #8a8a8a;
}
.Pokemon-card p {
  max-width: 200px;
  margin: auto;
}
.Pokemon-card h3 {
  color: #8a8a8a;
}
.pokemon-trainer {
  background-color: #4992ca;
  color: white;
}
.pokemon-trainer h6 {
  color: white !important;
}
.pokemon-trainer h4 {
  color: white !important;
}
.Pokemon-generation {
  padding: 30px 100px;
}
.Pokemon-generation h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
  color: #8a8a8a;
}
.Pokemon-generation-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  max-width: 900px;
}

.Pokemon-generation-flex div {
  border-top: 10px solid #4992ca;
}
.Pokemon-generation-flex p {
  max-width: 350px;
  margin-bottom: 20px;
  line-height: 20px;
}
.Pokemon-generation-flex h4 {
  font-size: 30px;
  margin-bottom: 20px;
}
.pokemon-section {
  background-color: gray;
  padding: 30px 100px;
  text-align: center;
  color: white;
}
.pokemon-section h4 {
  font-size: 45px;
  margin-bottom: 30px;
}
.pokemon-section input {
  max-width: 400px;
  height: 30px;
  padding-left: 5px;
}
.pokemon-games {
  text-align: center;
  padding: 30px 100px;
}
.pokemon-games h2 {
  color: #8a8a8a;
  font-size: 45px;
  margin-bottom: 30px;
}
.pokemon-games-flex {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.pokemon-games img {
  height: 200px;
  width: 200px;
}
.pokemon-games p {
  max-width: 300px;
  margin: 20px;
}
.pokemon-designers {
  text-align: center;
  padding: 30px 100px;
  background-color: #4992ca;
  color: white;
}
.pokemon-designers-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.pokemon-designers h2 {
  font-size: 45px;
  margin-bottom: 30px;
}
.pokemon-designers h4 {
  margin-bottom: 10px;
}
.pokemon-designers img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.pokemon-designers-p2 {
  text-align: left;
  margin: 10px;
  max-width: 300px;
}
.pokemon-logo {
  text-align: center;
  padding: 30px 100px;
}
.pokemon-logo img {
  height: 100px;
  width: 150px;
}
.pokemon-logo h2 {
  font-size: 45px;
  margin-bottom: 30px;
  color: #8a8a8a;
}
.pokemon-logo-flex {
  display: flex;
  justify-content: space-evenly;
  gap: 200px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.know-more {
  background-color: #4992ca;
  color: white;
  text-align: center;
  padding: 30px 100px;
}
.know-more h4 {
  font-size: 45px;
  margin-bottom: 30px;
}
.know-more button {
  background-color: transparent;
  padding: 5px 50px;
  border: 2px solid white;
  color: white;
  height: 35px;
}
.footer {
  background-color: black;
  text-align: center;
  padding: 30px 100px;
  color: #8a8a8a;
  line-height: 30px;
}
.footer-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-flex a {
  display: block;
}
.footer a {
  text-decoration: none;
  color: white;
}
